In [2]:
#Q6
def pig(character):
    listForVowels = ["a","e","i","o","u"]                       #initialize list of vowels
    if(character in listForVowels):
        return True
    else:
        return False

word = input("enter the word ")
word.lower()                                            #all to lower case
Letter = word[0]                                         #selecting the first letter
if(pig(Letter)):
    print(word.lower() + "way")
else:
    print(word[1:] + Letter + "ay")

enter the word Hello
elloHay

In [4]:
#Q7
def bloodtype(blood):
    blood_typ = blood.split(' ')
    count = dict()                                  #defining a dictionary
    for type in blood_typ:
        if type in count:
            count[type] += 1                       # increasing the value by 1
        else:
            count[type] = 1                       #intro new key and a
    for type,num in count.items():
        print('number of patients for blood type',type,num)
with open(r'C:\Users\harsh\bloodtype1.txt') as f:
    lines = f.readlines()
lines[-1] = lines[-1].strip()                         #removing /n
str = ""
for lit in lines:
    str += lit
bloodtype(str)

number of patients for blood type AB 13
number of patients for blood type B 1
number of patients for blood type O 15
number of patients for blood type A 15

In [5]:
#Q8
import numpy as np
import pandas as pd

In [6]:
with open(r'C:\Users\harsh\currencies.txt', 'r') as f:
    contents = f.readlines()

In [7]:
contents[0]

'AUD\t1.0345157\tAustralian Dollar\n'

In [8]:
for i in range(len(contents)):                           #removing spaces and newlines
    contents[i] = contents[i].split('\t')
    contents[i][2] = contents[i][2].replace('\n', '')

In [9]:
contents = pd.DataFrame(contents)
contents

      0           1                   2
0   AUD   1.0345157   Australian Dollar
1   CHF   1.0237414         Swiss Franc
2   CNY   0.1550176        Chinese Yuan
3   DKK   0.1651442        Danish Krone
4   EUR   1.2296544                Euro
5   GBP   1.5550989       British Pound
6   HKD   0.1270207    Hong Kong Dollar
7   INR   0.0177643        Indian Rupee
8   JPY  0.01241401        Japanese Yen
9   MXN   0.0751848        Mexican Peso
10  MYR   0.3145411   Malaysian Ringgit
11  NOK   0.1677063     Norwegian Krone
12  NZD   0.8003591  New Zealand Dollar
13  PHP   0.0233234     Philippine Peso
14  SEK    0.148269       Swedish Krona
15  SGD    0.788871    Singapore Dollar
16  THB   0.0313789           Thai Baht

In [13]:
contents = contents.iloc[:,[0,1]]

In [14]:
for i in range(len(contents)):
    contents[1][i] = float(contents[1][i])

In [15]:
dict

dict

In [16]:
arr1= np.array(contents.iloc[:,0])             
arr2 = np.array(contents.iloc[:,1])

In [17]:
type(arr2)

numpy.ndarray

In [18]:
dict = {}
for i, j in zip(arr1,arr2):             #key value pairs in dictionary
    dict[i]= j

In [19]:
def exchange(symbol, rate):
    for i in dict:
        if i == symbol:                             #finding the currency
            multiplier = dict[i]
            return(rate*multiplier)

In [20]:
exchange('JPY',100)

1.241401

In [21]:
a = input("Please enter the symbol: ")
b = float(input("Please enter the amount you want to convert: "))

Please enter the symbol: INR
Please enter the amount you want to convert: 20000

In [22]:
print(exchange(a,b))

355.286

In [23]:
#Q9
a= 6 + [1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [24]:
l = [0,1,2,3,4,5,6,7,8,9,10]
print(l[11])

IndexError: list index out of range

IndexError: list index out of range

In [25]:
import math
math.sqrt(-.001)

ValueError: math domain error

ValueError: math domain error

In [26]:
c=e+i

NameError: name 'e' is not defined

NameError: name 'e' is not defined

In [27]:
with open(r'C:\Users\ayush\ownloads\currencies.txt', 'r') as f:
    contents = f.readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ayush\\ownloads\\currencies.txt'

FileNotFoundError: [Errno 2] No such file or directory: 'C:\Users\ayush\ownloads/currencies.txt'

In [12]:
#Q10
def frequencies(str1):
    alpha = dict()                               #new dict
    key = 'abcdefghijklmnopqrstvuwxyz'             
    value = 0

    for i in range(len(key)):
        alpha[key[i]] = value                    #value,key pair set to initial stage a:0, b:0
    #print(alpha)
    for i in str1:
        #print(i)
        alpha[i] += 1                            #incrementing each letter as it comes
    return(alpha.values())

a = input("enter the string")
a_1 = a.lower()
print(frequencies(a_1))

enter the stringFive
dict_values([0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])